*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #10012c;
    margin: 0;
    padding: 0;
}

.container{
    width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header{
    width: 1600px;
    height: 150px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    background: radial-gradient(#081030 , #141434 , #101434);
    border: 1px solid white;
    border-radius: 30px;
}

.logoImage{
    width: 300px;
    height: 100px;
    margin:20px;
    border-radius: 40px;
    overflow: hidden;
    background: url("./img/logo.png");
    background-size: cover;
}


.logoImage img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.headerInfo{
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoButtons {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.infoButton {
    text-decoration: none;
    color: white;
    font-size: 25px;
    white-space: nowrap;
    transition: color 0.3s;
}

.infoButton:hover {
    color: #8a2be2;
}

.buttonStart{
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    padding-right: 50px;
}

.buttonStart button{
    width: 220px;
    height: 60px;
    border-radius: 20px;
    background: linear-gradient(90deg, #b862d2 0%, #6372ff 50%, #5ba8f0 100%);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.main{
    width: 1600px;
    min-height: 1300px;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
}



.nav{
    width: 300px;
    height: 810px;
    display: flex;
    flex-direction: column;
    background: radial-gradient(#081030 , #141434 , #101434);
    border-radius: 30px;
    border: 1px solid rgb(41, 47, 86);
    position: sticky;
    top: 10px;
    align-items: center;
}

.navTitle{
    width: 300px;
    height: 40px;
    justify-content: flex-start;
    padding: 20px 20px;
    color: #9099eb;
}

.navTitleBorder{
    width: 70px;
    height: 10px;
    background: #7927d5;
    align-self: flex-start;
    margin: 25px 20px;
    border-radius: 30px;
}

.navSectionsInfo{
    width: 300px;
    height: 430px;
    display: flex;
    flex-direction: column;
}

.navSection{
    width: 280px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.2s ;
}

.navSection:hover{
    width: 280px;
    background: #5425be;
    border: 1px solid #5425be;
}

.navSectionImg {
    width: 65px;
    height: 50px;
    margin: 0 30px 0 20px;
    column-gap: 10px;

}

.SectionImg1{
    background-image: url("./img/navLogo1.png");
    background-size: cover;
}

.SectionImg2{
    background-image: url("./img/navLogo2.png");
    background-size: cover;
}

.SectionImg3{
    background-image: url("./img/navLogo3.png");
    background-size: cover;
}

.SectionImg4{
    background-image: url("./img/navLogo4.png");
    background-size: cover;
}

.SectionImg5{
    background-image: url("./img/navLogo5.png");
    background-size: cover;
}

.navSectionText{
    width: 200px;
    display: flex;
    flex-direction: column;
    color: rgb(245, 245, 248);

}

.navSectionText h1{
    font-size: 20px;
    padding-bottom: 10px;
}

.navSectionText p{
    color: rgb(201, 201, 216);
}

.navSugest{
    width: 200px;
    height: 260px;
    background: #09102d ;
    border: 1px solid grey;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}


.navSugest img{
    width: 150px;
    height: 150px;
    align-self: center;
}

.navSugestText{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(245, 245, 248);
    padding-left: 10px;
}

.navSugestText h1{
    font-size: 20px;
    padding-bottom: 10px;
}

.navSugestText p{
    color: rgb(201, 201, 216);
}

.mainInfo{
    width: 1270px;
    height: 810px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: relative;
}

.blockMainInfo{
    width: 1270px;
    height: 610px;
    display: flex;
    flex-direction: column;
    background-image: url("./img/main_page.png");
    background-size: cover;
    border-radius: 30px;
    border: 1px solid grey;
    padding: 90px 0 0 40px;
}

.blockMainInfo h1{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

.mainInfoTitle{
    background: linear-gradient( 45deg , #d366dd   , #a195fc   , #37b8ec  );
    background-clip: text;
    color:transparent;
}

.blockMainInfo p{
    font-size: 30px;
    color: #9193b3;
    margin-bottom: 45px;
}

.mainInfoRelative{
    color: #3176c0;
}

.mainInfoAbsolute{
    color: #ca46b1;
}

.mainInfoFixed{
    color: #aed433;
}

.mainInfoSticky{
    color: #c0b745;
}

.blockMainInfo button{
    width: 220px;
    height: 60px;
    border-radius: 20px;
    background: linear-gradient(90deg, #b862d2 0%, #6372ff 50%, #5ba8f0 100%);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.buttonRightArrow{
    padding-left: 30px;
}

.blockMainInfo img{
    height: 230px;
    position: absolute;

}

.mainInfoImg_1{
    bottom: 200px;
    right: 190px;
}

.mainInfoImg_2{
    top: -10px;
    right: 520px;
}


.mainInfoImg_3{
    bottom: 220px;
    left: 250px;
}

.mainInfoImg_4{
    right: -30px;
    top: -50px;
}

.maininfoDetails{
    width: 1270px;
    height: 210px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.blockDetail{
    width: 25%;
    height: 100%;
    display: flex;
    background: #09102d ;
    border: 1px solid grey;
    border-radius: 30px;
}

.DetailMainImg{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 20px 20px;
}

.detailImg_1{
    background: #8c4cf2;
}

.detailImg_2{
    background: #256ae5;
}

.detailImg_3{
    background: #ea3c7e;
}

.detailImg_4{
    background: #89ba36;
}



.blockDetailInfo h1{
    color: white;
    padding: 25px 0 15px 0 ;
}

.blockDetailInfo p{
    color: #9193b3;
    padding-bottom: 10px;
}

.blockDetailInfo a{
    text-decoration: none;
    color: #8c4cf2;
}

.detailInfo_2 a{
    color: #256ae5;
}

.detailInfo_3 a{
    color: #ea3c7e;
}

.detailInfo_4 a{
    color: #89ba36;;
}

.footer{
    width: 1600px;
    height: 240px;
    display:flex;
    background-image: url("./img/footer_main4.png");
    background-size: cover;
    margin: 30px 0;
    border: 1px solid grey;
    border-radius: 30px;
}

.footerBlock{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.footerSugest h1{
    color: white;
    margin: 50px 50px 30px 50px;
}

.footerSugest p{
    color: #9193b3;
    margin: 0 0 30px 50px;
}

.footerRule{
    opacity: 0.6;
}

.footerInfo{
    display: flex;
    flex-direction: row;
}

.footerInfo_block{
    width: 33%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    font-size: 13px;
    color: #807ab4;
}

.footerInfo_block a{
    text-decoration: none;
    margin: 10px 0 10px 0;
    font-size: 17px;
    color: #5d5897;
}
.footerInfo_block a:hover{
    color: #807ab4;
}

.chat-container{
    position:fixed;
    right:30px;
    bottom:80px;
    z-index:100;
}

.chat-button{
    position:relative;
    width:90px;
    height:90px;
    border-radius:50%;
    background:#1b97e2;
    border:6px solid #5a4f4f14;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.3s;
}

.chat-button:hover{
    transform:scale(1.07);
}

.chat-icon{
    width:60px;
    height:40px;
    background-image: url("./img/chat.png");
    background-size: cover;
    border-radius:50%;
    position:relative;
    opacity: 4;
}

    .chat-badge{
    position:absolute;
    top:-5px;
    right:-5px;
    width:34px;
    height:34px;
    border-radius:50%;
    background:#ec2442;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
    font-weight:500;
    box-shadow:
    0 0 15px rgba(255,46,77,.7);
}

